/* 
    Globale style
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
    Headers text style
*/
.heading {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}
h1,
h2 {
  background-image: linear-gradient(
    to bottom,
    rgba(219, 228, 255, 1) 0%,
    rgba(76, 110, 245, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 1.3px;
}
/* 
    Table style
*/
th {
  text-align: center;
}

/* 
    Buttons style
*/
.tax-button,
.vat-button,
.perfume-vat-button {
  padding: 10px 10px;
  border: 1px solid #4c6ef5;
  border-radius: 15px;
  width: 136px;
  text-align: center;
}

.tax-button:hover,
.vat-button:hover,
.perfume-vat-button:hover {
  background-image: linear-gradient(
    to right bottom,
    rgba(229, 219, 255, 1) 0%,
    rgba(76, 110, 245, 1) 100%
  );
  color: #fff;
  text-decoration: none;
  border: none;
}

/* 
    Sections style 
*/
section {
  margin-bottom: 20px;
}

section > .row {
  justify-content: center;
  margin-bottom: 10px;
}

/* 
    Employees cards style
*/
.employees-cards {
  justify-content: center;
}
.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-employee-outerList {
  margin-left: 20px;
  padding: 15px 20px;
}
.card-employee-outerList > li > ul {
  margin-left: 10px;
}
